<mat-form-field>
  <mat-select (selectionChange)="changeItemSelected(item)" [required]="required" [(ngModel)]="item" [placeholder]="placeHolder"
    #singleSelect id="persona" #persona="ngModel" name="persona">
    <ngx-mat-select-search  [formControl]="itemFilterCtrl" [placeholderLabel]="placeholderLabelSearch"
      [noEntriesFoundLabel]="noEntriesFoundSearch">
      <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
    </ngx-mat-select-search>
    <mat-option *ngFor="let iten of filteredItems | async" [value]="iten">
      {{getNameClass(iten)}}
    </mat-option>
  </mat-select>
</mat-form-field>